.background-container {
		background-image: url("./images/index2.jpg");
		opacity: 0.99;
		filter: alpha(opacity=99);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		text-align: center;
}

.form-container {
		background-color: rgba(255, 255, 255, 0.6);
		margin: 12% 30% 0%;
		padding: 1%;
}

.element {
		margin-top: 4%;
}
